.creationBackground {
  background: hwb(48 93% 5%);
}

.formsVisual {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.forms {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 600px;
  border-bottom: solid 2px #325b3b;
  border-right: solid 1px #325b3b;
}

.visual {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  width: 400px;
  height: 600px;
  background-color: #617667;
  color: hwb(48 93% 5%);
  border-bottom: solid 2px #325b3b;
  border-left: solid 1px #325b3b;
}

#invalid_field {
  color: rgb(231, 78, 78);
  font-size: 17px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 28px;
}

#valid_field {
  color: hwb(48 93% 5%);
  font-size: 17px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 28px;
}