.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  padding: 6px;
  background-color: #325b3b;
}

.navButton {
  height: 30px;
  border: solid 3px hwb(0 49% 28%);
  border-radius: 5px;
}