.cardMounted {
  background: radial-gradient(80% 70% at 50% 60%, rgb(89, 4, 89) 0%, rgba(217, 217, 217, 0) 100%);
  background-color: #617667;
  border: solid 5px hwb(48 93% 5%);
  border-radius: 12px;
  width: 270px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  color: hwb(48 93% 5%);
}

.cardName {
  padding-bottom: 7px;
  color: hwb(48 93% 5%);
  font-size: large;
  font-weight: 600;
}

.cardDescription {
  color: hwb(48 93% 5%);
  font-size: medium;
}

.attrBox {
  display: flex;
  justify-content: space-evenly;
  background-color: hwb(48 93% 5%);
  color: #325b3b;
  font-size: medium;
  font-weight: 600;
  margin: 7px;
  border-radius: 5px;
  width: 200px;
}

.attrBox>span:last-child {
  background-color: hwb(46 80% 13%);
  width: 70px;
  border-radius: 3px;
  text-align: center;
}

.card-trunfo {
  font-weight: bold;
}

.cardFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}